<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.monitoring.startup</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/minhyo.kim/Downloads/monitoring/ssh-mornitoring/auto_monitoring.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>WorkingDirectory</key>
    <string>/Users/minhyo.kim/Downloads/monitoring/ssh-mornitoring</string>
    <key>StandardOutPath</key>
    <string>/Users/minhyo.kim/Downloads/monitoring/ssh-mornitoring/cron.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/minhyo.kim/Downloads/monitoring/ssh-mornitoring/cron.log</string>
</dict>
</plist> 